<!DOCTYPE html>
<html>
  <head>
    <title>StupidIdeaGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar p-3">
      <%= link_to root_path do %>
        <h4 class="m-0">Stupid Idea Generator</h4>
      <% end %>
    </nav>
    <div class="main-container p-3 d-flex flex-column">
      <%= yield %>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% end %>
    </div>

    <div class="card-footer p-2 text-center fixed-bottom">
      <%= link_to "By Maner ♥", "http://manonschnetzler.com", target: "_blank", class: "text-light"%>
    </div>
  </body>
</html>
